@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brown-color: #53351c;
  --lightBrown: #ddb58a;
  --toned: #8d7c66;
}

@layer base {
  body {
    @apply bg-primary;
  }
  h1 {
    @apply text-secondary;
  }

  h2 {
    @apply text-tertiary;
  }
}
